  @import "assets/variables.scss";
  @import "assets/mobile.scss";
  @import "assets/desktop.scss";
  @import "assets/tablet.scss";
  @import "assets/simplebar";
  @import "assets/unslider";

  html {
    font: 100% $font-stack;
    color: $font-color;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
  }
  body {
    margin: 0;
    height:100%;
    width:100%;
    overflow:hidden;
  }

  p{
    cursor: default;
  }

  a {
    text-decoration: none;
    color: black;
  }

  #welcome{
    background-color:black;
    z-index: 1000;
    position: absolute;
    width: 100%;
    bottom: 0;
    top: 0;
    left: 0;
    //cursor: pointer;
    #logo {
      z-index: 1001;
      background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2020.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Ebene_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20viewBox%3D%220%200%20277%20200%22%20style%3D%22enable-background%3Anew%200%200%20277%20200%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cstyle%20type%3D%22text/css%22%3E%0A%09.st0%7Bfill%3A%23FFFFFF%3B%7D%0A%3C/style%3E%0A%3Cg%3E%0A%09%3Cpolygon%20class%3D%22st0%22%20points%3D%2251%2C14.7%2038.8%2C82.5%2031.5%2C82.5%2031.5%2C14.7%2026.3%2C14.7%2026.3%2C185.3%2031.5%2C185.3%2031.5%2C113.2%2042.1%2C113.2%20%0A%09%0955.7%2C185.3%2061.1%2C185.3%2043%2C88.8%2056.4%2C14.7%20%09%22/%3E%0A%09%3Cpath%20class%3D%22st0%22%20d%3D%22M104.8%2C48.8h6.6l4.5%2C64.3h-15.8L104.8%2C48.8z%20M102%2C14.7L89.7%2C185.3h5.4l3.1-42.9H118l3.1%2C42.9h5.4L114.3%2C14.7%0A%09%09H102z%22/%3E%0A%09%3Cpolygon%20class%3D%22st0%22%20points%3D%22159.7%2C14.7%20159.7%2C185.3%20182.8%2C185.3%20182.8%2C151.2%20164.8%2C151.2%20164.8%2C14.7%20%09%22/%3E%0A%09%3Cpolygon%20class%3D%22st0%22%20points%3D%22240.6%2C14.7%20228.4%2C82.5%20221.1%2C82.5%20221.1%2C14.7%20215.9%2C14.7%20215.9%2C185.3%20221.1%2C185.3%20221.1%2C113.2%20%0A%09%09231.7%2C113.2%20245.3%2C185.3%20250.7%2C185.3%20232.6%2C88.8%20246%2C14.7%20%09%22/%3E%0A%3C/g%3E%0A%3C/svg%3E%0A');
      background-repeat: no-repeat;
      background-position: center center;
      margin:auto;
      position: absolute;
      height: 60%;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      cursor: pointer;
    }
  }

  .close {
    position: fixed;
    top: $space01;
    right: $space01;
    cursor: pointer;
    height: 18px;
    width: 18px;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2020.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Ebene_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20viewBox%3D%220%200%2010.8%2010.8%22%20style%3D%22enable-background%3Anew%200%200%2010.8%2010.8%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Crect%20x%3D%225.2%22%20y%3D%225.1%22%20width%3D%220.3%22%20height%3D%220.3%22/%3E%0A%3Crect%20x%3D%225.2%22%20y%3D%225.4%22%20width%3D%220.3%22%20height%3D%220.3%22/%3E%0A%3Crect%20x%3D%224.9%22%20y%3D%225.4%22%20width%3D%220.3%22%20height%3D%220.3%22/%3E%0A%3Crect%20x%3D%225.5%22%20y%3D%225.4%22%20width%3D%220.3%22%20height%3D%220.3%22/%3E%0A%3Crect%20x%3D%224.9%22%20y%3D%225.7%22%20width%3D%220.3%22%20height%3D%220.3%22/%3E%0A%3Crect%20x%3D%224.6%22%20y%3D%225.7%22%20width%3D%220.3%22%20height%3D%220.3%22/%3E%0A%3Crect%20x%3D%224.6%22%20y%3D%226%22%20width%3D%220.3%22%20height%3D%220.3%22/%3E%0A%3Crect%20x%3D%224.3%22%20y%3D%226%22%20width%3D%220.3%22%20height%3D%220.3%22/%3E%0A%3Crect%20x%3D%224.3%22%20y%3D%226.3%22%20width%3D%220.3%22%20height%3D%220.3%22/%3E%0A%3Crect%20x%3D%224%22%20y%3D%226.3%22%20width%3D%220.3%22%20height%3D%220.3%22/%3E%0A%3Crect%20x%3D%225.5%22%20y%3D%225.7%22%20width%3D%220.3%22%20height%3D%220.3%22/%3E%0A%3Crect%20x%3D%225.9%22%20y%3D%225.7%22%20width%3D%220.3%22%20height%3D%220.3%22/%3E%0A%3Crect%20x%3D%225.9%22%20y%3D%226%22%20width%3D%220.3%22%20height%3D%220.3%22/%3E%0A%3Crect%20x%3D%226.2%22%20y%3D%226%22%20width%3D%220.3%22%20height%3D%220.3%22/%3E%0A%3Crect%20x%3D%226.2%22%20y%3D%226.3%22%20width%3D%220.3%22%20height%3D%220.3%22/%3E%0A%3Crect%20x%3D%226.5%22%20y%3D%226.3%22%20width%3D%220.3%22%20height%3D%220.3%22/%3E%0A%3Crect%20x%3D%225.2%22%20y%3D%225.4%22%20width%3D%220.3%22%20height%3D%220.3%22/%3E%0A%3Crect%20x%3D%225.2%22%20y%3D%225.1%22%20width%3D%220.3%22%20height%3D%220.3%22/%3E%0A%3Crect%20x%3D%225.5%22%20y%3D%225.1%22%20width%3D%220.3%22%20height%3D%220.3%22/%3E%0A%3Crect%20x%3D%224.9%22%20y%3D%225.1%22%20width%3D%220.3%22%20height%3D%220.3%22/%3E%0A%3Crect%20x%3D%225.5%22%20y%3D%224.8%22%20width%3D%220.3%22%20height%3D%220.3%22/%3E%0A%3Crect%20x%3D%225.9%22%20y%3D%224.8%22%20width%3D%220.3%22%20height%3D%220.3%22/%3E%0A%3Crect%20x%3D%225.9%22%20y%3D%224.5%22%20width%3D%220.3%22%20height%3D%220.3%22/%3E%0A%3Crect%20x%3D%226.2%22%20y%3D%224.5%22%20width%3D%220.3%22%20height%3D%220.3%22/%3E%0A%3Crect%20x%3D%226.2%22%20y%3D%224.1%22%20width%3D%220.3%22%20height%3D%220.3%22/%3E%0A%3Crect%20x%3D%226.5%22%20y%3D%224.1%22%20width%3D%220.3%22%20height%3D%220.3%22/%3E%0A%3Crect%20x%3D%224.9%22%20y%3D%224.8%22%20width%3D%220.3%22%20height%3D%220.3%22/%3E%0A%3Crect%20x%3D%224.6%22%20y%3D%224.8%22%20width%3D%220.3%22%20height%3D%220.3%22/%3E%0A%3Crect%20x%3D%224.6%22%20y%3D%224.5%22%20width%3D%220.3%22%20height%3D%220.3%22/%3E%0A%3Crect%20x%3D%224.3%22%20y%3D%224.5%22%20width%3D%220.3%22%20height%3D%220.3%22/%3E%0A%3Crect%20x%3D%224.3%22%20y%3D%224.1%22%20width%3D%220.3%22%20height%3D%220.3%22/%3E%0A%3Crect%20x%3D%224%22%20y%3D%224.1%22%20width%3D%220.3%22%20height%3D%220.3%22/%3E%0A%3C/svg%3E%0A');
    background-color: #BFBFBF;
    box-shadow: inset 1.25px 1.25px 0px 0px #F2F2F2, inset -2.25px -2.25px 0 0 #828282;
    border: 1px solid #000000;
    z-index:101;
  }

  .menu {
    position: fixed;
    bottom:0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    @include flexbox(row, wrap, space-between, flex-end);
    .contact {
      position: relative;
      transform: rotate(-90deg);
    }
    p {
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    }
  }
