@import "variables.scss";

/* DESKTOP VERSION */
@media screen and (min-width: 768px){
  .menu {
    padding: $space01 $space01;
    font-size: $fliesstext;
    .about-link {
      position: relative;
    }
    p:hover,a:hover{
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .contact {
    bottom: 65px;
    left: 65px;
  }

  #mobile{
    display:none;
  }

  .intro, #about-container {
    position: fixed;
    top: $space01;
    left: $space01;
    p{
      font-size: $fliesstext;
      margin:auto;
    }
  }

  #about-container {
    width: 50%;
  }

  #index-wrapper {
    position: fixed;
    top:  200px;
    left: $space01;
    overflow: hidden;
    height: 65%;
    width: 50%;
    p{
      font-size: 3.5rem;
      margin-top: 0;
      margin-bottom: 30px;
    }
    p:hover {
      text-decoration: underline;
      cursor: pointer;;
    }
  }

  .phase-text {
    z-index: 1000;
    position: fixed;
    top: $space01;
    left: $space01;
    .phase-title {
      text-decoration: underline;
      margin: 0;
    }
    .counter{
      margin-top: 75px;
      position: absolute;
    }
  }

  .phase-container {
    display:table-cell;
    vertical-align:middle;
  }

  .unslider-nav,
  .unslider-arrow {
    display:none;
  }

  .unslider-carousel{
    li{
      text-align: center;
      img{
        width: auto;
        height: #{$slider-img-height}vh;
        margin-top: 20px;
        margin-bottom: 20px;
        //margin-top: #{(100 - $slider-img-height)/2}vh;
      }
    }
  }

  button {
    outline: none;
    box-shadow: 0;
  }

  // navigation slider
  .slider-wrapper{
      .next,
      .prev{
          width: 50%;
          height: 100%;
          position: fixed;
          top: 0;
      }
      .next{
          right: 0;
          cursor:url('/img/design/right.gif'), auto;
      }
      .prev{
          left: 0;
          cursor: url('/img/design/left.gif'), auto;
      }
  }

}

.center{
    width: 100vw;
    height: 100vh;
    @include flexbox(row, wrap, center, center);
    .video{
      //  width: 60%;
    }
}
.video-wrapper{
    @include paddinghack(100%, 16, 9, 'iframe');
    margin: 0 auto;
}
