  @import "variables.scss";

/* MOBILE VERSION */
@media screen and (max-width: 767px){

  #welcome2{
    display:none;
  }
  #mobile{
    position:absolute;
    img{
      margin:auto;
      width:100%;
      height:auto;
    }
  }
  #menu{
    padding-left:0px;
    font-size:1rem;
    #about-link-s {
      position: relative;
      bottom: 10px;
      left: 10px;
    }
    #contact {
      bottom: 65px;
      left: 45px;
    }
  }
  #main{
    display:none;
  }
  #about-container-l,#about-container-s{
    overflow: hidden;
    width: 75%;
    margin-top:$space01;
    margin-left:$space01;
  }

  #about-link-l{
    display:none;
  }

}
